body {
    background-color: #212F3D !important;
    color: #DED0C2 !important;
}

.contenidor{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    display: flex;
}

.sidebar{
    height: 100%;
    background: #2E4053;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.sidebar ul{
    padding: 0px !important;
}

.sidebar ul li{
    list-style: none;
    padding: 12px !important;
    text-align: center;
}

.sidebar ul li:hover{
    background: #5D6D7E;
    cursor: pointer;
}

.sidebar ul li a{
    text-decoration: none;
    color: #F7F9F9;
    font-size: 17px;
    font-family: sans-serif;
    opacity: .7;
}

.sidebar ul li a i{
    font-size: 50px;
}

.llista_pelicules{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 120px;
    width: 100%;
    float: left;
    align-content: flex-start;
}

.pelicula{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
    width: 220px;
    height: 390px;
}

.pelicula img{
    transition-duration: 0.2s;
    cursor: pointer;
}

.pelicula img:hover{
    opacity: 30%;
    transition-duration: 0.2s;
    cursor: pointer;
}

.header {
    width: 100%;
    float: left;
    height: 120px;
    background: #2E4053;
    box-shadow: 6px 9px 20px 0px #000;
    position: fixed;
    top: 0;
    margin-left: 77px;
}
.header .logo {
    float: left;
    width: 15%;
    height: 100%;
}

.header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: luminosity;
}
.header .filters {
    width: 85%;
    float: left;
    margin-top: 30px;
}

.header .filters ul li{
    width: 30%;
    float: left;
    list-style-type: none;
    text-align: center;
}
.header .filters ul li:nth-child(3), .header .filters ul li:nth-child(4){
    width: 18%;
    text-align: left;
}
@media (max-width: 1470px) {
  .header .filters ul li{
      width: 25%;
      text-align: left;
      padding-left: 15px;
  }
}
.header .filters ul li:last-child{
    padding-right: 15px;
}
.header .filters label{
    font-size: 20px;
}

.header .filters  input[type=submit] {
    background-color: #27688b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -6px;
}
.header .filters input#val {
    height: 11px;
}

.header .filters input#any {
    background-color: #27688b99;
    color: #DED0C2;
}

.header .filters input#any::placeholder {
  color: #DED0C2;
}
.header .filters .desp_cat {
    width: 300px;
    background: #2E4053;
    padding: 15px 20px;
    display: none;
}
.header .filters .desp_cat div{
    margin-left: 15px;
}
.header .filters ul li:nth-child(3):hover .desp_cat {
    display: block;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
  border-top: 6px solid #FFF;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  left: 50%;
  top: 200px;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 6px solid #27688b;
  border-bottom: 2px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**** CLIENTS  ****/
.llista_clients{
    width: 1000px;
}
.llista_clients .cap{
    width: 100%;
    float: left;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.llista_clients .cap h1{
    width: fit-content;
    float: left;
}
.llista_clients .cap .cerca_field{
   float: right;
}
.llista_clients .taula_clnts{
    float: left;
    width: 100%;
    margin-left: 20px;
}
.llista_clients .taula_clnts tr{
    width: 100%;
    float: left;
}
.llista_clients .taula_clnts .reserves_clnt{
    background: #2E4053;
    padding-top: 15px;
    padding-left: 30px;
    display: none;
}
.llista_clients .taula_clnts .dades_clnt{
    border-top: 1px #ded0c252 solid;
    padding: 5px;
    padding-left: 10px;
}
.llista_clients .taula_clnts .dades_clnt:hover {
    background: #2e66a1;
    cursor: pointer;
}
}
.llista_clients .taula_clnts .header_taula{
    margin-bottom: 10px;
}
.llista_clients .taula_clnts .header_taula th, .llista_clients .taula_clnts .dades_clnt td{
    width: 15%;
    float: left;
}
.llista_clients .taula_clnts .header_taula th:nth-child(2), .llista_clients .taula_clnts .dades_clnt td:nth-child(2){
    width: 30%;
    float: left;
}
.llista_clients .taula_clnts .header_taula th:nth-child(3), .llista_clients .taula_clnts .dades_clnt td:nth-child(3){
    width: 25%;
    float: left;
}
.llista_clients .taula_clnts .header_taula th:last-child, .llista_clients .taula_clnts .dades_clnt td:last-child{
    text-align: center;
}
.cerca_field  input[type=submit] {
    background-color: #27688b;
    color: white;
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -6px;
}